<div class='container animate__animated animate__backInDown'>
    <div class='window'>
        <div class='overlay'></div>
        <div class='content'>
            <div class='welcome'>Registrati!</div>
            <div class='subtitle'>Per non perdere nessuna offerta del nostro sito</div>
            <form [formGroup]="registerForm" (ngSubmit)="signup()">
                <div class='input-fields'>
                    <input type='text' placeholder='Username' class='input-line full-width' formControlName="username" id="username">
                    <input type='email' placeholder='Email' class='input-line full-width' formControlName="email" id="email">
                    <input type='password' placeholder='Password' class='input-line full-width' formControlName="password" id="password">
                </div>
                <div><button class='ghost-round-2 full-width-2' [disabled]="registerForm.status === 'INVALID'" id="submit" [ngClass]="{'disabled': registerForm.status === 'INVALID'}">Registrati</button></div>
            </form>
            <div class='spacing'>hai già un <span class='highlight' routerLink="/login">Account</span>?</div>
            <div><button class='ghost-round full-width' routerLink="/login">Effettua il Login</button></div>
        </div>
    </div>
</div>