<div class="menu">
    <p class="title">Welcome to <span class="strong">CalcioStore</span></p>
    <div class="cart">
        <span alt="" class="icart"></span>
        <span class="items">Carrello</span>
        <table class="products" *ngFor="let item of products |async">
            <li>{{item}}</li>
            <tr>
                <td class="left">Prodotto</td>
                <td class="strong">Inter</td>
            </tr>
            <tr>
                <td class="left">Champions</td>
                <td class="strong">Sì</td>
            </tr>
            <tr>
                <td class="left">Nome</td>
                <td class="strong">Luca</td>
            </tr>
            <tr>
                <td class="left">Colore nome</td>
                <td class="strong">Blu</td>
            </tr>
        </table>
        <table class="products">
            <tr>
                <td class="left">Prodotto</td>
                <td class="strong">Inter</td>
            </tr>
            <tr>
                <td class="left">Champions</td>
                <td class="strong">Sì</td>
            </tr>
            <tr>
                <td class="left">Nome</td>
                <td class="strong">Luca</td>
            </tr>
            <tr>
                <td class="left">Colore nome</td>
                <td class="strong">Blu</td>
            </tr>
        </table>
    </div>
</div>