.menu {
    background: linear-gradient(90deg, rgba(239, 213, 255, 1) 0%, rgba(81, 90, 218, 1) 100%);
    height: 260px;
}

.title {
    padding: 20px;
    text-align: center;
    font-size: 30px;
    color: white;
    background-color: rgba(255, 255, 255, 0.4);
}

.strong {
    font-weight: bolder;
}

.strongs {
    text-transform: capitalize;
    font-weight: bolder;
    text-align: left;
}

.cart {
    border-radius: 10px;
    text-align: center;
    z-index: 1;
    width: 210px;
    position: absolute;
    top: 0;
    padding-top: 15px;
    right: 1%;
    font-size: 22px;
    color: white;
}

.icart {
    background-image: url("/../../assets/img/cart.svg");
    background-repeat: no-repeat;
    background-size: 30px 30px;
    //padding-left: 10px;
    padding-left: 30px;
    padding-top: 0px;
    padding-bottom: 10px;
    // height: 50px;
    // width: 50px;
    border: 0;
}

.items {
    line-height: 50px;
    padding: 10px;
    cursor: pointer;
}

//dropdown
.products {
    width: 100%;
    font-size: 14px;
    z-index: 1;
    display: none;
    list-style: none;
    position: relative;
    border-top: 1px solid black;
    border-radius: 10px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

.products:first-child {
    border-top: 2px solid black;
}

td {
    width: 105px;
    padding: 2px 10px;
}

.left {
    text-align: right;
}

.remove {
    text-align: center;
    cursor: pointer;
    font-weight: bold;
    margin-bottom: 0;
    font-size: 15px;
}

.ecc {
    font-size: 25px;
    margin-top: 0;
    font-weight: bolder;
    line-height: 15px;
    cursor: pointer;
}

.tooItems {
    display: none;
    margin-top: 0px;
    border-top: 2px solid black;
    text-align: left;
    cursor: pointer;
    font-weight: bold;
    margin-bottom: 0;
    padding-left: 10px;
}

.cart:hover .products {
    display: block;
}

.cart:hover .tooItems {
    display: block;
}

.cart:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.45), 0 10px 10px rgba(0, 0, 0, 0.42);
    background-color: #4158D0;
    background-color: #8EC5FC;
    background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
    border: 3px solid black;
    color: black;
}

.cart:hover .icart {
    background-image: url("/../../assets/img/cart-black.svg");
}

.empty {
    width: 180px;
    padding: 8px 10px;
    font-weight: bold;
    font-size: 20px;
}

.home {
    text-align: center;
    position: absolute;
    top: 0;
    left: 1%;
    cursor: pointer;
    width: 210px;
    margin-top: 15px;
    font-size: 20px;
    color: white;
}

.ihome {
    background-image: url("/../../assets/img/home.svg");
    background-repeat: no-repeat;
    background-size: 30px 30px;
    //padding-left: 10px;
    padding-left: 30px;
    padding-top: 0px;
    padding-bottom: 10px;
    // height: 50px;
    // width: 50px;
    border: 0;
}

.home:hover {
    color: black;
}

.home:hover .ihome {
    background-image: url("/../../assets/img/home-black.svg");
}

//bottoni rimuovi
button {
    margin: 0 auto;
    outline: none;
    text-decoration: none;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    height: 25px;
    width: 65px;
    background-color: white;
    border: 2px solid black;
    color: black;
    font-size: 13px;
    margin-bottom: 2px;
}

button:hover {
    animation: rotate 0.7s ease-in-out both;
}

button:hover span {
    animation: storm 0.7s ease-in-out both;
    animation-delay: 0.06s;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg) translate3d(0, 0, 0);
    }
    25% {
        transform: rotate(3deg) translate3d(0, 0, 0);
    }
    50% {
        transform: rotate(-3deg) translate3d(0, 0, 0);
    }
    75% {
        transform: rotate(1deg) translate3d(0, 0, 0);
    }
    100% {
        transform: rotate(0deg) translate3d(0, 0, 0);
    }
}

@keyframes storm {
    0% {
        transform: translate3d(0, 0, 0) translateZ(0);
    }
    25% {
        transform: translate3d(4px, 0, 0) translateZ(0);
    }
    50% {
        transform: translate3d(-3px, 0, 0) translateZ(0);
    }
    75% {
        transform: translate3d(2px, 0, 0) translateZ(0);
    }
    100% {
        transform: translate3d(0, 0, 0) translateZ(0);
    }
}

@media only screen and (max-width: 800px) {
    .cart {
        right: 0;
        width: 190px;
    }
    .home {
        left: 0;
        width: 190px;
    }
}

@media only screen and (max-width: 680px) {
    .icart {
        display: none;
    }
    .scritta {
        text-align: right;
    }
    .scritta:hover {
        text-align: center;
    }
}

@media only screen and (max-width: 570px) {
    .cart {
        display: none;
    }
    .home {
        display: none;
    }
}