<div class="menu">
    <p class="title">Welcome to <span class="strong">CalcioStore</span></p>
    <div class="cart">
        <span alt="" class="icart"></span>
        <span class="items">Carrello
            <ng-container *ngIf="products.length>0">
                ({{products.length}})
            </ng-container>
        </span>
        <ng-container *ngIf="products.length>0;else empty">
            <table class="products" *ngFor="let item of products">
                <tr>
                    <td class="left">Squadra</td>
                    <td class="strongs">{{item?.team}}</td>
                </tr>
                <tr>
                    <td class="left">Champions</td>
                    <td class="strongs">{{item?.champions}}</td>
                </tr>
                <tr>
                    <td class="left">Nome</td>
                    <td class="strongs">{{item?.player}}</td>
                </tr>
                <tr>
                    <td class="left">Colore</td>
                    <td class="strongs">{{item?.color}}</td>
                </tr>
                <p (click)="rimuovi(item.id)">rimuovi</p>
            </table>
        </ng-container>
        <ng-template #empty>
            <table class="products">
                <tr>
                    <td class="empty">Carrello vuoto</td>
                </tr>
            </table>
        </ng-template>

    </div>
</div>