<div class='container'>
    <div class='window'>
        <div class='overlay'></div>
        <div class='content'>
            <div class='welcome'>Benvenuto!</div>
            <div class='subtitle'>Accedi per effettuare acquisti sul sito </div>
            <div class='input-fields'>
                <ng-container *ngIf="error |async">
                    {{error |async}}
                </ng-container>
                <input type='email' placeholder='Email' class='input-line full-width' #email>
                <input type='password' placeholder='Password' class='input-line full-width' #pass>
            </div>
            <div><button class='ghost-round-2' (click)="login(email.value,pass.value)">Login</button></div>
            <div class='spacing'>non sei ancora <span class='highlight' routerLink="/register">Registrato</span>?</div>
            <div><button class='ghost-round full-width' routerLink="/register">Crea un account</button></div>
        </div>
    </div>
</div>