<app-menu [title]="'Benvenuto su CalcioStore'"></app-menu>
<div class="all">
    <ngb-carousel #carousel [interval]="5000" [pauseOnHover]="pauseOnHover" (slide)="onSlide($event)" class="animate__animated animate__fadeInDown">
        <ng-template ngbSlide *ngFor="let img of images; index as i">
            <div class="picsum-img-wrapper">
                <img [src]="img">
            </div>
        </ng-template>
    </ngb-carousel>
    <div class="bott">
        <button routerLink="/customize" class="animate__animated animate__pulse animate__delay-1s">Personalizza ora</button>
    </div>
</div>