<app-menu [title]="'Shipping'"></app-menu>
<div class="all">
    <div class="container">
        <form>
            <input type="text" placeholder="nome">
            <input type="text" placeholder="cognome">
            <input type="text" placeholder="cellulare">
            <input type="text" placeholder="città" class="half">
            <input type="text" placeholder="CAP" class="half">
            <input type="text" placeholder="Indirizzo">
            <input type="text" placeholder="N°">
            <input type="text" placeholder="Informazioni per corriere">
            <button>Indietro</button>
            <button type="submit">Invio</button>
        </form>
    </div>
</div>