<app-menu [title]="'Shipping'" [home]=true></app-menu>
<div class="all">
    <form>
        <input type="text" placeholder="nome">
        <input type="text" placeholder="cognome">
        <input type="text" placeholder="cellulare">
        <input type="text" placeholder="città" class="half left">
        <input type="text" placeholder="CAP" class="half">
        <input type="text" placeholder="Indirizzo" class="address left">
        <input type="number" placeholder="N°" class="num">
        <input type="text" placeholder="Informazioni per corriere">
        <button class="btnLeft">Indietro</button>
        <button type="submit" class="btnRight" (click)="saveShipping()">Prosegui</button>
    </form>
</div>