<app-menu></app-menu>
<!--<div class="all">
    <div class="container">
        <input type="text" #inputValue>
        <button (click)="addToCart(inputValue.value);">aggiungi</button>
    </div>
</div>-->
<div class="wrapper">
    <div class="product-img">
        <img src="http://bit.ly/2tMBBTd" height="420" width="327">
    </div>
    <div class="product-info">
        <div class="product-text">
            <h1>Harvest Vase</h1>
            <h2>by studio and friends</h2>
            <p>Harvest Vases are a reinterpretation<br> of peeled fruits and vegetables as<br> functional objects. The surfaces<br> appear to be sliced and pulled aside,<br> allowing room for growth. </p>
        </div>
        <div class="product-price-btn">
            <p><span>78</span>$</p>
            <button type="button" (click)="addToCart('ciao');">Aggiungi al carrello</button>
        </div>
    </div>
</div>