<app-menu [title]="'Personalizza'" [home]=true [cart]=true></app-menu>
<div class="animate__animated animate__flipInX">
    <div class="wrapper">
        <div class="product-img">
            <img src={{immagine}} *ngIf="immagine; else imgEmpty">
            <div class="product-reset-btn animate__animated animate__fadeInDown animate__delay-1s">
                <button type="button" (click)="cls();">Reset</button>
            </div>
            <ng-template #imgEmpty>
                <h1 class="imgEmpty">Scegli una squadra</h1>
            </ng-template>
        </div>
        <form [formGroup]="customizeForm" (ngSubmit)="addToCart()">
            <div class="product-info">
                <div class="product-text">
                    <div>
                        <h1 class="title">Personalizza</h1>
                        <div class="container">
                            <div class="button-wrap">
                                <ng-container *ngFor="let team of teams; let i=index">
                                    <input class="hidden radio-label" id="button-{{i}}" type="radio" name="team" formControlName="team" value={{team}} (click)="changeImage(i)">
                                    <label class="button-label" for="button-{{i}}">
                                    <h1>{{team}}</h1>
                                </label>
                                </ng-container>
                            </div>
                        </div>
                    </div>
                    <h2>by Official Store</h2>
                    <input type="checkbox" id="check" formControlName="champions" />
                    <label for="check" style="--d: 200px">
                <svg viewBox="0,0,50,50">
                    <path d="M5 30 L 20 45 L 45 5"></path>
                </svg>
                <p class="checkText">Champions</p>
            </label>
                    <label for="inp" class="inp">
                <input type="text" id="inp" placeholder="&nbsp;" formControlName="player">
                <span class="label">Nome Giocatore</span>
                <span class="focus-bg"></span>
            </label>
                    <div class="container-2">
                        <div class="button-wrap-2">
                            <input class="hidden radio-label-2" id="white-button" type="radio" name="color" formControlName="color" value="casa">
                            <label class="button-label-2" for="white-button">
                            <h1>Casa</h1>
                        </label>
                            <input class="hidden radio-label-2" id="black-button" type="radio" name="color" formControlName="color" value="trasferta">
                            <label class="button-label-2" for="black-button">
                            <h1>Trasferta</h1>
                    </label>
                        </div>
                    </div>
                    <div class="product-price-btn" [ngClass]="{'disabled': customizeForm.status==='INVALID'}">
                        <button [disabled]="customizeForm.status === 'INVALID'">Aggiungi al carrello</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>